# Make LivingEntity#jumping public,so we can check for it in our movement logic.
# Probably not necessary, but it does simplify things.
public net.minecraft.world.entity.LivingEntity jumping

# Make entity movement logic easier
public net.minecraft.world.entity.LivingEntity handleRelativeFrictionAndCalculateMovement(Lnet/minecraft/world/phys/Vec3;F)Lnet/minecraft/world/phys/Vec3;
public net.minecraft.world.entity.EntityFluidInteraction$Tracker
public net.minecraft.world.entity.Entity fluidInteraction
public net.minecraft.world.entity.LivingEntity jumpOutOfFluid(D)V
public net.minecraft.world.entity.LivingEntity travelInAir(Lnet/minecraft/world/phys/Vec3;)V
public net.minecraft.world.entity.LivingEntity travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.animal.fish.AbstractFish travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.animal.nautilus.AbstractNautilus travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.animal.axolotl.Axolotl travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.animal.dolphin.Dolphin travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.monster.zombie.Drowned travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.monster.Guardian travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.animal.frog.Frog travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.monster.Guardian travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
public net.minecraft.world.entity.animal.turtle.Turtle travelInWater(Lnet/minecraft/world/phys/Vec3;DZD)V
